<div class="test-nav-container row space-top-10px">
    <form class="form-inline">
        <div class="span">
            <label for="name" class="hide" />
            <input type="text" class="input-small" id="name" placeholder="Name" tabindex="1">
        </div>
        <div class="span">
            <label for="age" class="hide" />
            <input type="text" class="input-small" id="age" placeholder="Age" tabindex="2">
        </div>
        <div class="span">
            <button class="btn btn-primary add" type="button">Add</button>
        </div>    
        <span class="error hide span"></span> 
    </form>  
</div>

<table class="table table-striped hide space-top-10px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
